{% extends 'main/base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
    <div class="title-big">Авторизация</div>
        <p class="intro">Введите ваше имя для входа в чат.</p>
        <form method="post" action="{% url 'auth' %}">
        {% csrf_token %}
        <label>Имя</label>
        <input class="form-field" name="name" type="text" value="{% if request.session.name %}{{ request.session.name }}{% endif %}"
               required>
        <input value="Войти" type="submit" class="send-button">
        </form>
{% endblock %}