{% extends 'main/base.html' %}

{% block meta %}
    <title>Чат</title>
    {{ name|json_script:"name" }}
    <script src="/static/chat-script.js"></script>
{% endblock %}

{% block content %}
    <!--<a href=#toggle class="menu-button">
    <div class="menu-mid-line"></div>
    <div class="menu-up-line"></div>
    <div class="menu-down-line"></div>
    </a>-->
    <div class="chat-card">
        <div class="messages-field">
        <div class="scrollarea" id="content-area">
            {% for message in messages %}
                <div class="message">
                    <div class="message-info">{{ message.info }}</div>
                    <div class="message-content">{{ message.content }}</div>
                </div>
            {% endfor %}
        </div></div>
        <div class="send-message-container">
            <input class="message-enter-field" onkeyup="button_pressed(event)" name="content" type="text" placeholder="Введите сообщение" id="message-field" required autofocus>
            <input type="button" onclick="send_message()" value="Отправить" class="send-message-button" id="send-form-button">
        </div>


        <div class="nav-container">
            <a class="nav-button" style="display: inline-block; align-self: flex-end; min-width: 7em" href="{% url 'mainpage' %}">На главную</a>
            <a class="nav-button" style="display: inline-block; align-self: flex-end; min-width: 7em" href="{% url 'auth' %}">Сменить имя</a>
        </div>
    </div>
{% endblock %}