{% extends 'main/base.html' %}

{% block meta %}
    <title>Чат</title>
    {{ name|json_script:"name" }}
    <script src="/static/chat-script.js"></script>
{% endblock %}

{% block content %}
    <!--<a href=#toggle class="menu-button">
    <div class="menu-mid-line"></div>
    <div class="menu-up-line"></div>
    <div class="menu-down-line"></div>
    </a>-->
    <div class="chat-card">
        <div class="messages-field" id="content-area">
            {% for message in messages %}
                <div class="message">
                    <div class="message-info">{{ message.info }}</div>
                    <div class="message-content">{{ message.content }}</div>
                </div>
            {% endfor %}
        </div>
        <div>
            <input class="form-field" onkeyup="button_pressed(event)" name="content" type="text" placeholder="Введите сообщение" id="message-field" required autofocus>
            <input type="button" onclick="send_message()" value="Отправить" class="send-button" id="send-form-button">
        </div>
    </div>
    <div class="title">
    Привет, {{ name }}, здесь появляется чат😎😎!
    </div><a class="button" href="{% url 'mainpage' %}">На главную</a>
    <a class="button" href="{% url 'auth' %}">Сменить имя</a>
{% endblock %}